body {
  background-color: #F5F5F5;
}
.about {
  width: 50%;
  margin-left: 10px;
}

.navbar-default {
  background-color: #a700a2;
  border-color: #ce17ee;
}
.navbar-default .navbar-brand {
  color: #fcfcff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #fcfcff;
}
.navbar-default .navbar-nav > li > a {
  color: #fcfcff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #ce17ee;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #ce17ee;
}
.navbar-default .navbar-toggle {
  border-color: #ce17ee;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ce17ee;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fcfcff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #fcfcff;
}
.navbar-default .navbar-link {
  color: #fcfcff;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}
