{% extends "layout.html" %}
{% set page = "explore" %}
{% block title %} Explore {% endblock %}
{% block content %}
<script src="{{url_for('static',filename='myscript.js')}}" type="text/javascript"></script>

<div class="container" style="padding:50px 250px;">
  <form role="form">
    <div class="form-group">
      <input type="input" class="form-control input-lg" id="txt-search" placeholder="Type your search character">
    </div>
	</form>
  <div id="filter-records"></div>
</div>
{% endblock %}
