{% extends "layout.html" %}
{% set page = "graph" %}
{% block head %}
<script>
window.onload = function () {
	var chart = new CanvasJS.Chart("chartContainer", {
		animationEnabled: true,
		zoomEnabled: true,
		title:{
			text: "Playtime Based on Price"
		},
		axisX: {
			title:"Price (in USD)",
			minimum: 0,
			maximum: 30
		},
		axisY:{
			title: "Average Playtime (in hours)"
		},
		data: [{
			type: "scatter",
			toolTipContent: "<b>Area: </b>{x} sq.ft<br/><b>Price: </b>${y}k",
			dataPoints: [
				{ x: 3, y: 10 },
				{ x: 4, y: 14 },
				{ x: 10, y: 60 },
				{ x: 25, y: 199 },
		]
	}]
});
chart.render();
}
</script>
{% endblock %}
{% block title %} Graph {% endblock %}
{% block content %}
<div id="chartContainer" style="height: 300px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
{% endblock %}
