{% extends "layout.html" %}
{% set page = "graph" %}
{% block head %}
<script>
window.onload = function () {
	var chart = new CanvasJS.Chart("chartContainer", {
		animationEnabled: true,
		zoomEnabled: true,
		title:{
			text: "Playtime Based on Price"
		},
		axisX: {
			title:"Price (in USD)",
			minimum: 0,
			maximum: 55
		},
		axisY:{
			title: "Average Playtime (in hours)"
		},
		data: [{
			type: "scatter",
			toolTipContent: "<b>Price: </b>{x} $<br/><b>Playtime: </b>{y} hrs",
			dataPoints: [{{ points }}]
		}]
	});
chart.render();
}
</script>
{% endblock %}
{% block title %} Graph {% endblock %}
{% block content %}
<div id="chartContainer" style="height: 300px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<br>
<div class="estandar">
  <p>Games that are cheap (less than $10) are not played very long. Games that are in the medium price range ($10 to $30) have a wide assortment of playtimes, but includes many games that are played for over 100 hours. Games that cost more than $30 are generally not played longer than around 50 hours.</p>
</div>
{% endblock %}
