{% extends "layout.html" %}
{% set page = "home" %}
{% block title %} Home {% endblock %}
{% block content %}
<div class="estandar">
  <h1>About:</h1>
  <p>
    This webapp contains video game data from <a href="https://corgis-edu.github.io/corgis/json/video_games/">The CORGIS Data Set Project</a>, containing 
    1212 titles from the year 2004 to 2008. It includes general information about each video game, such as its publisher, sales, and review scores.
    The <a href="https://www.xbox.com/en-US/games/gameratings">ESRB</a> ratings that are used are E(veryone), T(eens), and M(ature). Review scores are 
    from <a href="https://www.metacritic.com">Metacritic</a>.<br><br>
  
    Playtime statistics are crowdsourced from <a href="https://howlongtobeat.com">HowLongToBeat.com</a>. This includes the average 
    length (in hours) of all playstyles, as well the the overall average. If a playstyle for a game does not exist (e.g. completionists) or if there
    was no sufficient data, then it is denoted as 0.<br><br>
    
    The publisher of a game may be empty if the publisher is unkown. Special characters are omitted from the titles. There are a few errors with the dataset, such 
    as having two copies of the same game.
  </p>
</div>
{% endblock %}
