{% extends "popular.html" %}
{% block content %}
{{ super() }}
<h3>Most Popular Games by Sales in {{ year }}:</h3>
<p>1. {{ highestSalesName }} made ${{ highestSales }} billion.</p>
<p>2. {{ highestSalesNameTwo }}  ${{ highestSalesTwo }} billion made in sales.</p>
<p>3. {{ highestSalesNameThree }} made ${{ highestSalesThree }} billion.</p>
<br>
<h3>Most Popular Games by Metacritic Rating in {{ year }}:</h3>
<p>1. {{ highestScoreName }} got a score of {{ highestScore }}/100.</p>
<p>2. {{ highestScoreNameTwo }} got a score of {{ highestScoreTwo }}/100</p>
<p>3. {{ highestScoreNameThree }} got a score of {{ highestScoreThree }}/100.</p>
{% endblock %}
